<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Documents</title>  
    {% load staticfiles %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
     <h1>Documents</h1>

<table border="1">
<thead>
    <tr>
    <th>Name</th>
    <th>Pages</th>
    <th>Action</th>
    </tr>
</thead>
<tbody>
    {% for document in documents %}
    <tr>
      <td>{{ document.title }}</td>
      <td><img src="{{ document.image }}" class="img-responsive" style="width: 100%; float: left; margin-right: 10px;" /></td>
      <td>
        <a href="/documents/edit/{{ document.id }}"><span class="glyphicon glyphicon-pencil" >Edit</span></a> | 
        <a href="/documents/delete/{{ document.id }}">Delete</a>
      </td>
    </tr>
    {% endfor %}
</tbody>
</table>

</body>  
</html>  