[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
mysqlclient = "==1.4.2.post1"

pillow = "==6.2.0"
Django = "==2.2.20"
django-rest-registration = "== 0.5.2"
dj_database_url = "==0.5.0"
psycopg2 = "== 2.8.4"
django-extensions = "== 2.2.5"
django-environ = "== 0.4.5"
boto3 = "== 1.10.34"
django-storages = "== 1.8"
[requires]
python_version = "3.6"
