apturl==0.5.2
asn1crypto==0.24.0
awscli==1.16.9
awsebcli==3.15.3
bcrypt==3.1.7
beautifulsoup4==4.6.0
blessed==1.15.0
blinker==1.4
botocore==1.11.9
Brlapi==0.6.6
cached-property==1.5.1
cement==2.8.2
certifi==2019.9.11
cffi==1.12.3
chardet==3.0.4
Click==7.0
colorama==0.3.9
cryptography==2.1.4
cupshelpers==1.0
defer==1.0.6
devscripts===2.17.12ubuntu1.1
distro-info===0.18ubuntu0.18.04.1
dj-database-url==0.5.0
Django==2.2.4
django-templated-mail==1.1.1
djangorestframework==3.10.3
djoser==2.0.3
docker==3.7.3
docker-compose==1.23.2
docker-py==1.7.2
docker-pycreds==0.4.0
dockerpty==0.4.1
docopt==0.6.2
docutils==0.15.2
feedparser==5.2.1
Flask==1.1.1
Flask-Bcrypt==0.7.1
Flask-Cors==3.0.8
Flask-JWT-Extended==3.23.0
Flask-Login==0.4.0
flask-mongoengine==0.9.3
Flask-PyMongo==2.3.0
Flask-WTF==0.14.2
future==0.16.0
gpg==1.10.0
html5lib==0.999999999
httplib2==0.9.2
idna==2.7
itsdangerous==1.1.0
Jinja2==2.10.1
jmespath==0.9.4
jsonschema==2.6.0
keyring==10.6.0
keyrings.alt==3.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
louis==3.5.0
lxml==4.2.1
macaroonbakery==1.1.3
MarkupSafe==1.1.1
mongoengine==0.14.3
mysqlclient==1.4.2.post1
oauth==1.0.1
oauthlib==2.0.6
olefile==0.45.1
pathspec==0.5.9
pexpect==4.2.1
Pillow==6.2.0
pipenv==2018.11.26
protobuf==3.0.0
psycopg2==2.8.4
pur==5.2.2
pyasn1==0.4.2
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
pycups==1.9.73
Pygments==2.2.0
pygobject==3.26.1
PyJWT==1.7.1
pymacaroons==0.13.0
pymongo==3.5.1
PyNaCl==1.1.2
pyRFC3339==1.0
python-apt==1.6.4
python-dateutil==2.8.0
python-debian==0.1.32
python-magic==0.4.16
pytz==2018.3
pyxdg==0.25
PyYAML==5.1
reportlab==3.4.0
requests==2.20.1
requests-unixsocket==0.1.5
roman==2.0.0
rsa==3.4.2
s3cmd==2.0.1
s3transfer==0.1.13
SecretStorage==2.3.1
semantic-version==2.5.0
simplejson==3.13.2
six==1.11.0
sqlparse==0.3.0
system-service==0.3
systemd-python==234
tabulate==0.7.5
termcolor==1.1.0
texttable==0.9.1
ubuntu-drivers-common==0.0.0
unattended-upgrades==0.1
unidiff==0.5.4
unity-scope-calculator==0.1
unity-scope-chromiumbookmarks==0.1
unity-scope-colourlovers==0.1
unity-scope-devhelp==0.1
unity-scope-firefoxbookmarks==0.1
unity-scope-manpages==0.1
unity-scope-openclipart==0.1
unity-scope-texdoc==0.1
unity-scope-tomboy==0.1
unity-scope-virtualbox==0.1
unity-scope-yelp==0.1
unity-scope-zotero==0.1
urllib3==1.24.3
usb-creator==0.3.3
virtualenv==16.7.7
virtualenv-clone==0.5.3
wadllib==1.3.2
wcwidth==0.1.7
webencodings==0.5
websocket-client==0.56.0
Werkzeug==0.15.4
WTForms==2.1
xkit==0.0.0
zope.interface==4.3.2
