<!-- templates/home.html-->
{% extends 'base.html' %}
{% load staticfiles%}
{% block title %}Profile{% endblock %}
{% block content %}
	<style>
		body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;

    }
	</style>
  <div class="wrapper">
    {% block navbar %}
        {% include  '_items/navbar.html' %}
    {% endblock %}
    <!-- Page Content Header -->
    <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
          </button>
          <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
          </button> -->
          <marquee>Welcome To Embassy Service App <b> ESA </b> </marquee>
        </div>
      </nav>
      <div class="container">
        <h1>Add Service</h1>
        <hr>
        <div class="row">
          <!-- edit form column -->
          <div class="col-md-9 personal-info">
            
            <form class="form-horizontal" method="post" action="/ads/new" enctype="multipart/form-data">
            	{% csrf_token %}
              <div class="form-group">
                <label class="col-lg-3 control-label">Title </label>
                <div class="col-lg-8">                       
                  <input class="form-control" type="text" placeholder="Title" name="title"required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Description </label>
                <div class="col-lg-8">
               
                  <input class="form-control" type="text" placeholder="description" name="description" >
                </div>
              </div>

               <div class="form-group">
                <label class="col-lg-3 control-label">Image </label>
                <div class="col-lg-8">
               
                  <input class="form-control" type="file" placeholder="description" name="image" >
                </div>
              </div>
              
              <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                  <input type="submit" class="btn btn-primary" value="Save">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <hr>
      <br><br><br>
      <br><br><br>
      <!--floating button for services -->
      <a href="/services" class="float">
      <i class="fa fa-envelope my-float"></i>
      </a>
      <div class="label-container">
        <div class="label-text">services </div>
        <a href="/services"><i class="fa fa-play label-arrow"></i></a>
      </div>
    </div>
  </div>
{% endblock %}