<!-- templates/home.html-->
{% extends 'base.html' %}
{% load staticfiles%}
{% block title %}Home{% endblock %}
{% block content %}
    <div class="wrapper">
      <!-- Sidebar Holder and stick in the top -->
      <!--===============================================================================================-->
      {% block navbar %}
        {% include  '_items/navbar.html' %}
    {% endblock %}
      <!-- Page Content Header -->
      <div id="content">
        <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
          <div class="container-fluid">
            <button type="button" id="sidebarCollapse" class="navbar-btn">
            <span></span>
            <span></span>
            <span></span>
            </button>
            <marquee>Welcome To Embassy Service App <b> ESA </b> </marquee>
          </div>
        </nav>
        {% if messages %}
          {% for message in messages %}
            <div class="alert {{ message.tags }} alert-dismissible" role="alert">
              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
              {{ message }}
            </div>
          {% endfor %}
        {% endif %}
        <!--===============================================================================================-->
        {% if user.is_authenticated %}
          <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
              <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
              <li data-target="#carousel-example-2" data-slide-to="1"></li>
              <li data-target="#carousel-example-2" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active">
                <div class="view">
                  <img class="d-block w-100 h-50" src="../static/icons/bg.jpg" alt="First slide">
                  <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                  <h3 class="h3-responsive" style="color: gold"></h3>
                  <p></p>
                </div>
              </div>
              <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                  <img class="d-block w-100 " src="../static/icons/bk1.jpg" alt="Second slide">
                  <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                  <h3 class="h3-responsive" style="color: gold"></h3>
                  <p> </p>
                </div>
              </div>
              <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                  <img class="d-block w-100" src="../static/icons/bg.jpg" alt="Third slide">
                  <div class="mask rgba-black-light"></div>
                </div>
                <div class="carousel-caption">
                  <h3 class="h3-responsive"></h3>
                </div>
              </div>
            </div>
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
          </div>
          <!--/.Carousel Wrapper-->
          <br><br><br>
          <br><br><br>
          <!--floating button for notifications -->
          <a href="/notifications" class="float">
          <i class="fa fa-envelope my-float"></i>
          </a>
          <div class="label-container">
            <div class="label-text">notifications </div>
            <a href="/notifications"><i class="fa fa-play label-arrow"></i></a>
          </div>
        {% else %}
          <div id="video-carousel-example" class="carousel slide carousel-fade" data-ride="carousel">
            <!--Indicators-->
            <ol class="carousel-indicators">
              <li data-target="#video-carousel-example" data-slide-to="0" class="active"></li>
              <li data-target="#video-carousel-example" data-slide-to="1"></li>
              <li data-target="#video-carousel-example" data-slide-to="2"></li>
            </ol>
            <!--/.Indicators-->
            <!--Slides-->
            <div class="carousel-inner" role="listbox">
              <div class="carousel-item active" >
                <video class="video-fluid" style="width: 100%;" autoplay loop muted>
                  <source src="{% static 'videos/esa.mp4' %}" type="video/mp4" />
                </video>
              </div>
            </div>
            <!--===============================================================================================-->
            <!--/.Slides-->
            <!--Controls-->
            <a class="carousel-control-prev" href="#video-carousel-example" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#video-carousel-example" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
            <!--/.Controls-->
          </div>
        {% endif %}
        <!--Carousel Wrapper-->
        <!--this is the Gif image -->
        {% if user.is_authenticated %}
        {% else %}
          <div style="text-align:center; margin-top: 5%"  >
            <img src="{% static 'icons/wlcm.gif' %}" class="img-fluid">
          </div>
        {% endif %}
        <!--            </div>-->
        <!--            <h2>Collapsible Sidebar Using Bootstrap 4</h2>-->
        <!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
        <!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
        <!--            <div class="line"></div>-->
        <!--            <h2>Lorem Ipsum Dolor</h2>-->
        <!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
        <!--            <div class="line"></div>-->
        <!--            <h2>Lorem Ipsum Dolor</h2>-->
        <!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
        <!--            <div class="line"></div>-->
        <!--            <h3>Lorem Ipsum Dolor</h3>-->
        <!--            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>-->
      </div>
    </div>
{% endblock %}