<!-- templates/home.html-->
{% extends 'base.html' %}
{% load staticfiles%}
{% block title %}Passport Apply{% endblock %}
{% block content %}
  <style>
    body {font-family: Arial, Helvetica, sans-serif;}
    * {box-sizing: border-box;

    }
    /* Full-width input fields */
    input[type=text], input[type=password],input[type=number] {
      width: 100%;
      padding: 15px;
      margin: 5px 0 22px 0;
      display: inline-block;
      border: none;
      background: #f1f1f1;
    }

    /* Add a background color when the inputs get focus */
    input[type=text]:focus, input[type=password]:focus ,input[type=number]:focus{
      background-color: #ddd;
      outline: none;
    }
    .modal-content {
      background-color: #fefefe;
      margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }
    .button_cen {
      margin: 8px 0;
      width: 100%;
      opacity: 0.9;
    }
    .container {
      padding: 16px;
    }
    .clearfix::after {
      content: "";
      clear: both;
      display: table;
    }
    p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
  }
  </style>
  <div class="wrapper">
    {% block navbar %}
        {% include  '_items/navbar.html' %}
    {% endblock %}
    <!-- Page Content Header -->
    <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
          </button>
          <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
          </button> -->
          <marquee>Welcome To Embassy Service App <b> ESA </b> </marquee>
        </div>
      </nav>
      <!-- Passport Renewal  -->
      <div id="services" class="container-fluid text-center " style="margin-top: 5%">
        <div style="margin-bottom: 20px; margin-left: 40%">
          <div class="row slideanim">
            <div class="col-sm-4">
              <span > <img class="glyphicon glyphicon-lock small-logo" src="{% static 'icons/pasprt.png' %}" style="width: 220px ; height: 220px"> </span>
              <h4>Passport Renewal</h4>
              <h6 style="color: white"> you can easily renew your expired passport  </h6>
            </div>
          </div>
        </div>
        <form class="modal-content " action="/action_page.php" style="background:gainsboro">
          <div class="container">
            <h1>Submission </h1>
            <p>Upload all your files here according to PDF specifications   <b>Passport Renewal Requirements </b> <br> then track your application in the tracking page to keep updated   </p>
            <div class="clearfix">
        <form class="md-form">
        <div class="file-field big">
        <a class="btn-floating btn-lg amber darken-2 mt-0 float-left">
        <i class="fas fa-cloud-upload-alt" aria-hidden="true"></i>
        <input type="file" multiple>
        </a>
        <div class="file-path-wrapper">
        <input class="file-path validate" type="text" placeholder="comment">
        </div>
        </div>
        </form>
        <a href="/tracking"> <button type="button" class="btn btn-success button_cen">submit </button> </a>
        <a href="/passport_renewal"> <button type="button" class="btn btn-primary button_cen">Back </button> </a>
        </div>
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}