<!-- templates/home.html-->
{% extends 'base.html' %}
{% load staticfiles%}
{% block title %}Profile{% endblock %}
{% block content %}
  <div class="wrapper">
    {% block navbar %}
        {% include  '_items/navbar.html' %}
    {% endblock %}
    <!-- Page Content Header -->
    <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
          </button>
          <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
          </button> -->
          <marquee>Welcome To Embassy Service App <b> ESA </b> </marquee>
        </div>
      </nav>
      <div class="container">
        <h1>Edit Profile</h1>
        <hr>
        <div class="row">
          <!-- edit form column -->
          <div class="col-md-9 personal-info">
            <div class="alert alert-info alert-dismissable">
              <a class="panel-close close" data-dismiss="alert">×</a>
              <i class="fa fa-bell"></i>
              You can update your profile Info
            </div>
            <h3>Personal info</h3>
            <form class="form-horizontal" role="form" action="/accounts/profile_update/" method="post" enctype="multipart/form-data">
              {% csrf_token %}
              {% if messages %}
                {% for message in messages %}
                   {{message}}
                {% endfor %}
            {% endif %}

              <div class="form-group">
                <label class="col-lg-3 control-label">Name </label>
                <div class="col-lg-8">                       
                  <input class="form-control" type="text" name= "username" value="{{ user.username }} ">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Passport Number </label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" name= "passport_number" value="{{user.profile.passport_number}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Phone Number </label>
                <div class="col-lg-8">
                  <input class="form-control" type="number" name= "phone_number" value="{{user.profile.phone_number}}">
                </div>
              </div>
              <div class="form-group">
                <label class="col-lg-3 control-label">Email:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" name= "email"  value="{{ user.email }} ">
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Password:</label>
                <div class="col-md-8">
                  <input class="form-control" type="password" name= "password1"  value="{{user.password1}}" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label">Confirm password:</label>
                <div class="col-md-8">
                  <input class="form-control" type="password" name= "password2"  value="{{user.password2}}" required>
                </div>
              </div>
              <div class="form-group">
                <label class="col-md-3 control-label"></label>
                <div class="col-md-8">
                  <input type="submit" class="btn btn-primary" value="Save Changes">
                  <span></span>
                  <input type="reset" class="btn btn-default" value="Cancel">
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
      <hr>
      <br><br><br>
      <br><br><br>
      <!--floating button for notifications -->
      <a href="/notifications" class="float">
      <i class="fa fa-envelope my-float"></i>
      </a>
      <div class="label-container">
        <div class="label-text">notifications </div>
        <a href="/notifications"><i class="fa fa-play label-arrow"></i></a>
      </div>
    </div>
  </div>
{% endblock %}