<!-- templates/home.html-->
{% extends 'base.html' %}
{% load staticfiles%}
{% block title %}Tracking{% endblock %}
{% block content %}
  <style>
    .modal-content {
      margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
      border: 1px solid #888;
      width: 80%; /* Could be more or less, depending on screen size */
    }
    .button_cen {
      margin: 8px 0;
      width: 100%;
      opacity: 0.9;
    }
  </style>
  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar">
      <!--logo with title -->
      <!--        here i removed the class name and I added the sticky-top -->
      <div class="sticky-top">
        <div class="sidebar-header sticky-top">
          <a href="{% url 'home' %}"> <img src="{% static 'icons/esa.png' %}" style="width: 160px"; height="160px" ></a>
          <h6>Embassy Service App </h6>
          <span>  <b>مرحبـــاً بك في موقع خدمات السفارة </b> </span>
        </div>
      </div>
      <ul class="list-unstyled components">
        <li >
          <a href="/news">News </a>
        </li>
        <li>
          <a href="/services">Services </a>
        </li>
        <li>
          <a href="/profile" >Profile</a>
        </li>
        <li>
          <a href="#">Ad Market </a>
        </li>
        <li>
          <a href="/contact">Contact us </a>
        </li>
        <li>
          <a href="/tracking">Tracking </a>
        </li>
      </ul>
      <ul class="list-unstyled CTAs">
        <li> <a href="/terms_condition" style="font-size: 12px"> Terms and Conditions </a></li>
        <li> <a href="/faq" style="font-size: 12px"> FAQ </a></li>
      </ul>
      <ul class="list-unstyled CTAs">
        <li>
          <a href="{% url 'logout' %}" class="download">logout</a>
        </li>
      </ul>
    </nav>
    <!-- Page Content Header -->
    <div id="content">
      <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
        <div class="container-fluid">
          <button type="button" id="sidebarCollapse" class="navbar-btn">
          <span></span>
          <span></span>
          <span></span>
          </button>
          <!-- <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <i class="fas fa-align-justify"></i>
          </button> -->
          <marquee>Welcome To Embassy Service App <b> ESA </b> </marquee>
        </div>
      </nav>
      <!--Carousel Wrapper-->
      <!-- Tracking Application   -->
      <div id="services" class="container-fluid text-center " style="margin-top: 5%">
        <div style="margin-bottom: 20px; margin-left: 40%">
          <div class="row slideanim">
            <div class="col-sm-4">
              <span > <img class="glyphicon glyphicon-lock small-logo" src="{% static 'icons/TR.gif' %}" style="width: 150px ; height: 150px"> </span>
              <h4>Track Your Application</h4>
              <h6 style="color: white"> your application has sent to reviewers ... will reply to you within two working days   </h6>
            </div>
          </div>
        </div>
        <form class="modal-content " action="/action_page.php" style="background:gainsboro">
          <div class="container">
            <h1>Tracking </h1>
            <p>Upload all your files here according to PDF specifications   <b>Passport Renewal Requirements </b> <br> then track your application in the tracking page to keep updated   </p>
            <br>
            <!--            table for tracking -->
            <div class="container">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Application </th>
                    <th>Status </th>
                    <th>Note</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Passport Renewal</td>
                    <td>pending </td>
                    <td>waiting for revision </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <a href="{% url 'home' %}"> <button type="button" class="btn btn-primary button_cen">Back </button> </a>
          </div>
        </form>
      </div>
      <br><br><br>
      <br><br><br>
      <!--floating button for notifications -->
      <a href="/notification" class="float">
      <i class="fa fa-envelope my-float"></i>
      </a>
      <div class="label-container">
        <div class="label-text">notifications </div>
        <i class="fa fa-play label-arrow"></i>
      </div>
    </div>
  </div>

{% endblock %}